.taskForm{
    width: 80%;
    border: 1px solid white;
    margin: 3% auto;
}
.todoboardBox{
    margin-top: 1%;
    padding: 10px;
}
.todoboardBox h5{
    text-align: center;
}
.createTaskTab{ 
    margin-top: 3%;
    text-align: center;
    padding: 10px 0px;
    font-weight: 600;
}

table tbody{
    font-weight: lighter;
    font-size: 16px;
}
