{% extends "base.html" %}
{% load static %}

{% block title %} SignUp | Todo {% endblock title %}

{% block cssfile %}
  <link rel="stylesheet" href="{% static "todo/css/forms.css" %}">
{% endblock cssfile %}

{% block content %}
<div class="todoFormBox">
  <h2 class='todoFormHead'>Registration Form</h2> <hr>
  <form class="row g-3 todoForm" method="post" nonvalidate> {% csrf_token %}
    <div class="col-md-12">
      <label for="inputFirstName" class="form-label">First Name</label>
      {{form.first_name}}
      <small class='text-danger'>{{form.first_name.errors|striptags}}</small>
    </div>
    <div class="col-md-12">
      <label for="inputLastName" class="form-label">Last Name</label>
      {{form.last_name}}
    </div>
    <div class="col-md-12">
      <label for="inputEmail" class="form-label">Email</label>
      {{form.email}}
    </div>
    <div class="col-md-12">
      <label for="inputPassword1" class="form-label">Password</label>
      {{form.password1}}
    </div>
    <div class="col-md-12">
      <label for="inputPassword2" class="form-label">Confirm Password</label>
      {{form.password2}}
    </div>
    
    
      <div class="col formButton">
        <button type="submit" class="btn btn-primary">Register</button>
      </div>
    
  </form>
</div>

{% endblock content %}