{% extends "base.html" %}
{% block title%} Home | TodoTask {% endblock title%}
{% block message %}
{% include "components/message.html" %}
{% endblock message %}

{% block content %}
<div>
    <div class="homeTodo">
        <h2>Todo App - Keep Your Task List</h2>
        <div class="homeTodoBox">
            <p>Todo platform where you can keep your tasks and manage them.
            </p>
            <span><u>Go to task board</u> - 
                <button type="button" class="btn btn-light">Click Me</button>
            </span>
        </div>
    </div>
</div>
{% endblock content %}