<ul class="nav nav-pills nav-fill">
    <li class="nav-item">
      <a class="nav-link" aria-current="page" href="{% url "todo:Home" %}">Home</a>
    </li>
    {% if request.user.is_authenticated %}
      <li class="nav-item">
        <a class="nav-link" href="{% url "todo:Login" %}">Todo Book</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url "todo:Login" %}">Todoboard</a>
      </li>
    {% else %}
      <li class="nav-item">
        <a class="nav-link" href="{% url "todo:Login" %}">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url "todo:Signup" %}">Signup</a>
      </li>
    {% endif %}
    
    <li class="nav-item">
      <a class="nav-link" href="{% url "todo:About" %}">About</a>
    </li>
  </ul>